/*COLORS
PRUSSIAN BLUE : #0B3C5D
SKY BLUE : #328CC1
GOLD LEAF : #D9B310;
IVORY BLACK : #1D2731;
*/

/*****REGISTER FORM*****/
#registerForm ,
#contactForm,
#userProfileForm {
    max-width: 500px;
    padding: 5px 10px 15px 10px;
    margin : auto;
    margin-top : 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #0B3C5D;
    border-radius: 5px;
    border : 1px;
    box-shadow: 0 0 2px #1D2731;
    border-color: #1D2731;
    border-style: solid;
}

#registerForm h2,
#contactForm h2,
#userProfileForm h2{
    border : 5px
    border-style : solid;
    border-color: #1D2731;
    border-radius: 10px;
    padding: 10px 0px;
    box-shadow: 0 0 10px #328CC1;
    background-color: #D9B310;
    color : #1D2731;
}

#registerForm label{
    margin: auto;
    margin-top : 15px;
    margin-bottom : 7px;
    width : 30%;
    padding : 0.1em;
    background-color: #D9B310;
    color : #1D2731;
    border-radius: 3px;
}

#registerForm input:not(.special),
#contactForm input:not(.special),
#userProfileForm input:not(.special) {
    width : 50%;
    text-align: center;
    margin : 0.2em;
}

#registerForm input[type=submit],
#contactForm input[type=submit],
#userProfileForm input[type=submit] {
    margin-top : 1em;
    border: none;
    padding: 10px 15px 10px 15px;
    background: #D9B310;
    color: #fff;
    border-radius: 3px;
    text-shadow: 0 0 5px #222;
}
#registerForm input[type=submit]:hover,
#contactForm input[type=submit]:hover,
#userProfileForm input[type=submit]:hover {
    box-shadow: 0 0 15px #222;
    background: #DEB816;
    color: #1D2731;
    animation : zoomZoom;
    animation-duration : 0.5;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#registerForm textarea,
#contactForm textarea,
#userProfileForm textarea {
    resize : none;
    position: relative;
    width : 90%;
}

#contactForm {
    max-width: 400px;
}

nav #loginNav {
    text-align: right;
}

#loginForm input:not(.special){
    max-width: 25%;
}

nav ul li:last-child .special{
    font-size: 0.9em;
}

nav ul li:last-child .special,
#registerBtn {
    vertical-align: middle;
    margin : auto;
    border: none;
    padding: 0.4em;
    background: #D9B310;
    color: #fff;
    border-radius: 3px;
    text-shadow: 0 0 5px #222;
    cursor: pointer;
}

#userProfileForm form:first-child {
    padding-bottom: 1em;
}


@keyframes zoomZoom {
    0% {
        transform : scale(1);
    }
    100% {
        transform : scale(1.1);
    }
}

a#loggedUser {
    text-align: center;
    vertical-align: middle;
    padding : 0.1em;
    margin : 0.1em;
}
/*COLORS
PRUSSIAN BLUE : #0B3C5D
SKY BLUE : #328CC1
GOLD LEAF : #D9B310;
IVORY BLACK : #1D2731;
*/
