body {
    margin : 0;
    padding : 0;
    border : 0;
}

ul {
  margin: 0;
  background-color: #333333;
  list-style-type: none;
}

li {
  float: left;
  background-color: #333333;
  text-decoration: none;
  padding: 1em;
}

li a {
  text-decoration: none;
  color: white;
  padding: 1em;
}

li form input{
  margin: 0;
  padding: 0;
}

li form input{
  margin: 0;
  padding: 0;
  border:0;
}

li audio:hover {
    background-color: #111;
}

li label{
  color: white;
}

li a:target {
    background-color: #4CAF50;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #333333;
}
