html{
  background: #111;

  background: url("../images/footer_lodyas.png");
}

body {
    position: relative;
    margin : 0;
    padding : 0;
    padding-bottom: 1em;
    border : 0;
    min-height: 150vh;

    background: url("../images/footer_lodyas.png");
}


.page{
  display: flex;
  justify-content: center;
}

.footer{
  clear: both;
  position: absolute;
  bottom: -4em;
  left: 0;
  right: 0;

}

#restaurantsOwned a {
    text-align: center;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 10, 10, 0.5);
}

nav ul {
  max-width: 80em;

  display: block;
  margin: 0;
  width: 100%;
  padding: 0em;
}

nav li:first-child{
  margin-left: 1em;
}

nav li:last-child{
  float: right;
  position: relative;
}

nav li {
  float: left;
  vertical-align: top;
  display: inline-block;
  padding: 1em 0em;
  height: 2em;
  list-style-type: none;
}

nav li label input{
  padding: 0em;
  height: inherit;
  color: white;
}

nav li label{
  padding: 0em;
  vertical-align: top;
  color: white;
}

nav li a{
  color: white;
  text-decoration: none;
  margin-left: 1em;
  border-bottom-color: #555;
  border-bottom-style: solid;
  border-bottom-width: 0.2em;
  height: 2em;
}

nav li .usrImg{
  margin: 0px;
  position: absolute;
  left: -4em;
  top: 0.5em;
  padding: 0;

}
nav li a.usrImg:hover{
  padding: 0;
}


nav li a:hover{
  border-bottom-color: #111;
}

nav li a:target{
  border-bottom-color: #FFF;
  color: white;
}

body nav ul li form input {
    color: black;
}

/*Restaurant Page*/

#map {
  width: 45em;
  height: 30em;

}

.restaurantIteraction{
  display: flex;
}

.restaurantIteraction label{
  font-size: 3em;
}

h1{
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}



.reviews button{
  width: 30em;
  margin: 1em;
  background-color: #D9B310;
}

.reviews ul{
  margin: 0.5em;
  padding: 0;
}

.reviews li{
  background-color: #414F63;
  list-style-type: none;

  border-top: 5px solid #CCC;
  border-bottom-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  background-color: rgba(230,230,230,1);

}

.reviews li h6 , .reviews li h5, .reviews li h4{
  display: inline-block;
  margin: 0.5em;
  margin-left: 2em;

}

.reviews li h4 , .reviews li h5{
  padding: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 0.5em;
  border-bottom-right-radius: 0.0em;
  border-top-left-radius: 0.0em;
  background-color: #FF7226;

  background-color: #47F;
  border-color: #157;
  border-bottom-style: solid;
  color: #000;
}

.reviews li h5{
  background-color: #444
  border-color: #999;
}

.reviews h4 a, .reviews h5 a{
  text-decoration: none;
  cursor:pointer;
  color: #000;
}


.reply, .delete-review, .delete-comment{
  display: inline-block;
  padding: 0.6em;
  margin: 0em;
  margin-left: 0.5em;
  color: #111;
  font-weight: bold;
  background-color: inherit;
  border-radius: 0.5em;
  transform-origin: top;
}

.reply:hover, .delete-review:hover, .delete-comment:hover{
  padding: 0.6em;
  animation: slide 0.1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slide{
  0%, 100%{
    transform: translateY(0);

  }
  0%{
    opacity: 0;
  }
  50%{
    transform: translateY(-5px);
  }
  100%{
    opacity: 1;
    background-color: #888;
    color: #FFF;
  }
}

.reviews ul{
  padding-bottom: 1em;
}
.reviews li p{
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
  border-top-style: none;
  color: #111;
  padding: 0.5em;
}
.reviews ul ul{
  margin-left: 2em;

}

.reviews ul ul li:first-child{
  //border-top: 1px solid #111;
}

.reviews ul ul li:last-child{
//  border-bottom: 1px solid #111;
}

.reviews form{
  margin-left: 2em;
}

.reviews form textarea{
  color: #EEE;
  resize: none;
  display: block;
  background-color: #323232;
}

.reviews ul ul li{
  border-top: 5px solid #CCC;
  padding-bottom: 0.5em;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: -10px 10px 10px #CCC;
  border-radius: 0;
}

#mapSearch{
       background-color: #fff;
       font-family: Roboto;
       font-size: 15px;
       font-weight: 300;
       margin-left: 12px;
       padding: 0 11px 0 13px;
       text-overflow: ellipsis;
       width: 300px;
}
#mapSearch:focus {
       border-color: #4d90fe;
}

.image-slide{
  background-color: #414F63;
}

#searchArea{
  margin-top: 2em;
  margin-bottom: 2em;
  transform: scale(1.6);
  border: 1px solid #000;
  display: flex;
  justify-content: center;
}

#searchArea label{
  display: flex;
}

#searchArea * *{
  vertical-align: top;
  padding: 0;
  border: 0px solid;
  margin: 0;
  height: 30px;
}

#searchBtn{
  color: white;
}

*{
  font-family: Roboto;
}

#searchArea select{

  background:  rgba(10,10,10,0.4);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #FFF;
}

#searchArea select:hover{
  background-color: rgba(255,255,255,0.7);
  color: black;

}

#searchBtn{
  background:  rgba(10,10,10,0.4);
  border-left-style: none;
}

#searchBtn:hover{
  background:  rgba(255,255,255,0.7);
  color: black;
}



#sugestions li a{
    display:block;
    text-decoration:none;
    color: inherit;
    font-size:15px;
    text-align: center;

    padding:10px;
}

.labelSearch{
  position: relative;
}

#sugestions {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: rgba(10, 10, 10, 0.4);
  display: block;
  height: auto;
}


#sugestions li a:hover {

  background-color: inherit;
}

#sugestions li:hover {
  background-color: inherit;
   animation-name: scale;
   animation-duration: 0.2s;
   animation-timing-function: ease-in-out;
   animation-play-state: running;
   animation-fill-mode: forwards;

}

#sugestions li{
  overflow:hidden;
  opacity: 1;
  color: white;
}
#searchBox:focus ~ #sugestions{
  visibility: visible;
  animation-name: pop;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;

}
#searchBox ~ #sugestions{
  animation-name: setInv;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes setInv {
  0%{
    opacity: 1;
   }
  100%{
    transform: rotateY(0deg);
    opacity: 0;
    visibility: hidden;
  }
}



@keyframes pop {
  0%{
    transform: rotateY(-90deg);
    opacity: 0;

   }
  100%{
    transform: rotateY(0deg);
    opacity: 1;
  }
}

@keyframes scale {
  0%, 100%{
    transform: translateY(0em);
    opacity: 1;

   }
  50%{
    transform: translateY(-0.2em);
    opacity: 0.9;
  }
  100%{
    background-color: #ebdcd7;
    color: #222;
  }
}



.portrait{
  overflow: hidden;
  background-image: url(https://static.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg);
  background-attachment: fixed;
  background-position: center;
  position: relative;
  height: 20em;
  background-size:cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portrait .background{
  position: absolute;
  top: 0;
  bottom: 0;

}

.intro{
  color: white;
  font-size: 5em;
  text-shadow: 3px 3px #111;
  font-family: Roboto;

}

@keyframes remove {
  0%{
    height: 100vh;
  }

  100%{
    height: 10em;
  }
}
.restaurantList{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.restaurantList{
  margin: 0;
}

.userRestaurants li,
.restaurantList li{
  background: rgba(10,10,10,0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  width:50em;
	height:3em;
  list-style:none;
	border:1px solid #000;
  margin: 0;
}

.userRestaurants li{
  background:none;
  border: hidden;
}

.restaurantList li p{
   flex: none;
   font-weight: bold;
   font-size: 1.5em;
}

.restaurantList img{
 flex: none;
}


.restaurantList a{

    text-decoration: none;
    margin: 0.1em;
}

.restaurantList a:hover{

  background: rgba(10,10,10,0.0);
  animation: zoomIn;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.restaurantList a:link{
   color: white;
}

.restaurantList a:visited{
   color: white;
}


@keyframes zoomIn {
  0%, 100%{
    transform: translateY(0em);
  }
  50%{
    transform: translateY(-0.2em);
  }
  100%{
    background: rgba(255,255,255,1.0);
    color: #000;

  }

}


/*Personal Page*/
.userInfo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}




#makeReview button,
.reviews button,
.userInfo a,
.userRestaurants a{
  text-align: center;
  background: rgba(200, 179, 16,0.5);
  border: solid;
  border-radius: 10px;
  padding: 1.2em;
  text-decoration: none;
}

.userRestaurants li a{
  width: 15em;
}

.userRestaurants li a:first-child{
  background: #7c7005;

}

#makeReview button:hover,
.reviews button:hover,
.userInfo a:hover{
  animation: zoomIn;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.userInfo a{
   color: white;
}

.userInfo a{
   color: white;
}

.userRestaurants{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rating {
    overflow: hidden;
    display: inline-block;
}
.rating-input {
    float: right;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0 0 0 -40px;
    opacity: 0;
}
.rating-star {
    position: relative;
    float: right;
    display: block;
    width: 40px;
    height: 40px;
    pointer-events: auto;
    background: url("../images/rating.png") 40px 0px;
    background-size: 80px 40px;
    pointer-events: none;
}


.rating-input:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0px 0;
}

.galleryAndLocation{
  display: flex;
  justify-content: space-between;
  width: 90em;
}

.pages form.review{
  display: block;
  background-color: red;
}

.reviews{
  width: 90em;
}

#ProfileRestaurant{
    width: 50em;
}


.schedules ul{
  justify-content: center;
  display: flex;
  list-style: none;
  margin: 2em;
  width: 90em;
  background: #af9e0a;
  border-radius: 2em;
}

.user_description,
.schedules li,
.restaurantInfo #restaurant_description,
.restaurantInfo #restaurant_types{
  margin: 1em;
  background: #af9e0a;
  padding: 1em;
  border-radius: 2em;
  max-width: 50em;
  word-wrap: break-word;
}

.schedules{
  text-align: center;
}


.title {
  line-height: 0.5;
  text-align: center;
}

.title span{
  display: inline-block;
  position: relative;
}

.title  span:before,
.title  span:after {
  content: "";
  position: absolute;
  height: 0.3em;;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  top: 0;
  width: 10em;
}

.title  span:before {
  right: 100%;
  margin-right: 15px;
}
.title  span:after {
  left: 100%;
  margin-left: 15px;
}

#makeReview {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#makeReview textarea{
  border-radius: 1em;
  font-size: 2em;
  padding: 1em;
}


#makeReview button{
  justify-content: center;
  display: block;
  width: 50em;
  margin:auto;
}
